In [76]:
import pandas as pd
import os

from datetime import datetime, timedelta

import pymongo

# Extract

Data downloaded from [Open Weather Map](https://openweathermap.org/api)

In [28]:
df = pd.read_csv("/Users/thomasbergamaschi/Downloads/10afd7601352eefba6300f198ad919ae.csv")

In [29]:
len(df)

130394

In [30]:
df.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1136073600,2006-01-01 00:00:00 +0000 UTC,-28800,South Lake Tahoe,38.939926,-119.977187,32.50,19.20,30.36,34.56,...,210,NaN,NaN,2.0,NaN,79,601,Snow,snow,13d
1,1136077200,2006-01-01 01:00:00 +0000 UTC,-28800,South Lake Tahoe,38.939926,-119.977187,32.63,19.33,31.05,35.00,...,210,NaN,NaN,2.0,NaN,60,601,Snow,snow,13n
2,1136080800,2006-01-01 02:00:00 +0000 UTC,-28800,South Lake Tahoe,38.939926,-119.977187,32.14,19.96,31.22,33.50,...,210,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
3,1136084400,2006-01-01 03:00:00 +0000 UTC,-28800,South Lake Tahoe,38.939926,-119.977187,30.69,21.02,27.90,32.00,...,210,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1136088000,2006-01-01 04:00:00 +0000 UTC,-28800,South Lake Tahoe,38.939926,-119.977187,29.62,17.67,26.83,30.20,...,150,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n

# Transform

In [31]:
# drop any columns that have all NaN values
df = df.dropna(axis="columns", how="all")

In [32]:
# Drop dt, I just want dt_iso
df = df.drop("dt", axis="columns")

In [33]:
# Convert dt_iso to datetime.datetime objects
df['dt_iso'] = [datetime.strptime(dt[:-10], "%Y-%m-%d %H:%M:%S") for dt in df['dt_iso']]

In [34]:
type(df['dt_iso'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [35]:
# Add a dt_iso column that is PST
utc_offset = -8 # PST is 8 hours behind UTC

# 2006-01-01 00:00:00 +0000 UTC
df['dt_iso_pst'] = [dt + timedelta(hours=utc_offset) for dt in df['dt_iso']]

In [36]:
df.head()

,dt_iso,timezone,city_name,lat,lon,temp,feels_like,temp_min,temp_max,pressure,...,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,dt_iso_pst
0,2006-01-01 00:00:00,-28800,South Lake Tahoe,38.939926,-119.977187,32.50,19.20,30.36,34.56,1006,...,NaN,NaN,2.0,NaN,79,601,Snow,snow,13d,2005-12-31 16:00:00
1,2006-01-01 01:00:00,-28800,South Lake Tahoe,38.939926,-119.977187,32.63,19.33,31.05,35.00,1007,...,NaN,NaN,2.0,NaN,60,601,Snow,snow,13n,2005-12-31 17:00:00
2,2006-01-01 02:00:00,-28800,South Lake Tahoe,38.939926,-119.977187,32.14,19.96,31.22,33.50,1008,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2005-12-31 18:00:00
3,2006-01-01 03:00:00,-28800,South Lake Tahoe,38.939926,-119.977187,30.69,21.02,27.90,32.00,1009,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,2005-12-31 19:00:00
4,2006-01-01 04:00:00,-28800,South Lake Tahoe,38.939926,-119.977187,29.62,17.67,26.83,30.20,1011,...,NaN,NaN,NaN,NaN,40,802,Clouds,scattered clouds,03n,2005-12-31 20:00:00

In [37]:
df.columns.values

array(['dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp',
       'feels_like', 'temp_min', 'temp_max', 'pressure', 'humidity',
       'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h', 'snow_1h',
       'snow_3h', 'clouds_all', 'weather_id', 'weather_main',
       'weather_description', 'weather_icon', 'dt_iso_pst'], dtype=object)

In [38]:
# Convert hourly data to daily data

# Get the parameters I want to aggregate
df_daily = df[['dt_iso_pst','temp','temp_min', 'temp_max', 'pressure', 'humidity',
       'wind_speed', 'wind_deg', 'rain_1h', 'rain_3h', 'snow_1h',
       'snow_3h', 'clouds_all']]

In [40]:
df_daily['date'] = [dt.date() for dt in df_daily['dt_iso_pst']]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df_daily.head()

,dt_iso_pst,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,date
0,2005-12-31 16:00:00,32.50,30.36,34.56,1006,63,14.99,210,NaN,NaN,2.0,NaN,79,2005-12-31
1,2005-12-31 17:00:00,32.63,31.05,35.00,1007,63,14.99,210,NaN,NaN,2.0,NaN,60,2005-12-31
2,2005-12-31 18:00:00,32.14,31.22,33.50,1008,60,12.75,210,NaN,NaN,NaN,NaN,1,2005-12-31
3,2005-12-31 19:00:00,30.69,27.90,32.00,1009,60,8.05,210,NaN,NaN,NaN,NaN,1,2005-12-31
4,2005-12-31 20:00:00,29.62,26.83,30.20,1011,74,12.75,150,NaN,NaN,NaN,NaN,40,2005-12-31

In [58]:
df_daily = df_daily.groupby(['date']).agg({
    "temp": ["mean", "min", "max"],
    "pressure": ["mean", "min", "max"],
    "humidity": ["mean", "min", "max"],
    "wind_speed": ["mean", "min", "max"],
    "wind_deg": ["mean", "min", "max"],
    "rain_1h": "sum",
    "rain_3h": lambda x: sum(x)/len(x)/3,
    "snow_1h": "sum",
    "snow_3h": lambda x: sum(x)/len(x)/3,
    "clouds_all": ["mean", "min", "max"]
})

In [67]:
df_daily.columns.values

array([('temp', 'mean'), ('temp', 'min'), ('temp', 'max'),
       ('pressure', 'mean'), ('pressure', 'min'), ('pressure', 'max'),
       ('humidity', 'mean'), ('humidity', 'min'), ('humidity', 'max'),
       ('wind_speed', 'mean'), ('wind_speed', 'min'),
       ('wind_speed', 'max'), ('wind_deg', 'mean'), ('wind_deg', 'min'),
       ('wind_deg', 'max'), ('rain_1h', 'sum'), ('rain_3h', '<lambda>'),
       ('snow_1h', 'sum'), ('snow_3h', '<lambda>'),
       ('clouds_all', 'mean'), ('clouds_all', 'min'),
       ('clouds_all', 'max')], dtype=object)

In [75]:
loc_name = df["city_name"][0]
lat = df["lat"][0]
lon = df["lon"][0]

data_list = []

for _,d in df_daily.iterrows():
    obj = {
        "loc_name": loc_name,
        "lat": lat,
        "lon": lon,
        "temp": {
            "mean": d["temp", "mean"],
            "min": d["temp", "min"],
            "max": d["temp", "max"]
        },"pressure": {
            "mean": d["pressure", "mean"],
            "min": d["pressure", "min"],
            "max": d["pressure", "max"]
        },"humidity": {
            "mean": d["humidity", "mean"],
            "min": d["humidity", "min"],
            "max": d["humidity", "max"]
        }, "wind_speed": {
            "mean": d["wind_speed", "mean"],
            "min": d["wind_speed", "min"],
            "max": d["wind_speed", "max"]
        }, "wind_deg": {
            "mean": d["wind_speed", "mean"],
            "min": d["wind_speed", "min"],
            "max": d["wind_speed", "max"]
        }, 
        "rain_1h": d["rain_1h", "sum"],
        "rain_3h": d["rain_3h", "<lambda>"],
        "snow_1h": d["snow_1h", "sum"],
        "snow_3h": d["snow_3h","<lambda>"],
        "clouds_all": {
            "mean": d["clouds_all", "mean"],
            "min": d["clouds_all", "min"],
            "max": d["clouds_all", "max"]
        }
    }
    data_list.append(obj)

In [74]:
data_list

[{'loc_name': 'South Lake Tahoe',
  'lat': 38.939926,
  'lon': -119.97718700000001,
  'temp': {'mean': 30.453749999999996, 'min': 28.44, 'max': 32.63},
  'pressure': {'mean': 1009.5, 'min': 1006.0, 'max': 1012.0},
  'humidity': {'mean': 67.375, 'min': 60.0, 'max': 74.0},
  'wind_speed': {'mean': 12.83375, 'min': 8.05, 'max': 17.22},
  'wind_deg': {'mean': 12.83375, 'min': 8.05, 'max': 17.22},
  'rain_1h': 0.0,
  'rain_3h': nan,
  'snow_1h': 4.0,
  'snow_3h': nan,
  'clouds_all': {'mean': 25.375, 'min': 1.0, 'max': 79.0}},
 {'loc_name': 'South Lake Tahoe',
  'lat': 38.939926,
  'lon': -119.97718700000001,
  'temp': {'mean': 34.612500000000004, 'min': 28.92, 'max': 38.68},
  'pressure': {'mean': 1005.25, 'min': 1000.0, 'max': 1012.0},
  'humidity': {'mean': 64.67857142857143, 'min': 27.0, 'max': 93.0},
  'wind_speed': {'mean': 13.636428571428578, 'min': 6.93, 'max': 21.7},
  'wind_deg': {'mean': 13.636428571428578, 'min': 6.93, 'max': 21.7},
  'rain_1h': 12.700000000000003,
  'rain_3h': nan,
  'snow_1h': 0.0,
  'snow_3h': nan,
  'clouds_all': {'mean': 60.32142857142857, 'min': 1.0, 'max': 90.0}},
 {'loc_name': 'South Lake Tahoe',
  'lat': 38.939926,
  'lon': -119.97718700000001,
  'temp': {'mean': 32.68090909090909, 'min': 30.51, 'max': 35.56},
  'pressure': {'mean': 1003.25, 'min': 1000.0, 'max': 1013.0},
  'humidity': {'mean': 94.1590909090909, 'min': 86.0, 'max': 100.0},
  'wind_speed': {'mean': 3.149318181818181, 'min': 1.16, 'max': 10.29},
  'wind_deg': {'mean': 3.149318181818181, 'min': 1.16, 'max': 10.29},
  'rain_1h': 0.6,
  'rain_3h': nan,
  'snow_1h': 65.39999999999998,
  'snow_3h': nan,
  'clouds_all': {'mean': 78.72727272727273, 'min': 1.0, 'max': 90.0}},
 {'loc_name': 'South Lake Tahoe',
  'lat': 38.939926,
  'lon': -119.97718700000001,
  'temp': {'mean': 28.791199999999993, 'min': 21.31, 'max': 33.55},
  'pressure': {'mean': 1021.2, 'min': 1014.0, 'max': 1026.0},
  'humidity': {'mean': 72.4, 'min': 50.0, 'max': 100.0},
  'wind_speed': {'mean': 7.7664, 'min': 3.94, 'max': 14.99},
  'wind_deg': {'mean': 7.7664, 'min': 3.94, 'max': 14.99},
  'rain_1h': 0.0,
  'rain_3h': nan,
  'snow_1h': 0.3,
  'snow_3h': nan,
  'clouds_all': {'mean': 44.08, 'min': 1.0, 'max': 90.0}},
 {'loc_name': 'South Lake Tahoe',
  'lat': 38.939926,
  'lon': -119.97718700000001,
  'temp': {'mean': 33.37884615384615, 'min': 26.83, 'max': 42.87},
  'pressure': {'mean': 1030.1538461538462, 'min': 1026.0, 'max': 1034.0},
  'humidity': {'mean': 86.6923076923077, 'min': 67.0, 'max': 100.0},
  'wind_speed': {'mean': 5.793846153846153, 'min': 2.28, 'max': 13.65},
  'wind_deg': {'mean': 5.793846153846153, 'min': 2.28, 'max': 13.65},
  'rain_1h': 0.0,
  'rain_3h': nan,
  'snow_1h': 0.0,
  'snow_3h': nan,
  'clouds_all': {'mean': 33.57692307692308, 'min': 1.0, 'max': 90.0}}]

# Load

In [82]:
# Connect to mongo
password = os.environ['MONGODB_PASS']
uri = f"mongodb+srv://admin:{password}@cluster0-p6cjk.mongodb.net/test?retryWrites=true&w=majority"

client = pymongo.MongoClient(uri)
db = client['sac-dashboard']
col = db['weather-daily']

In [83]:
# col.insert_many(data_list)